
<h1>The Big Movie Database</h1>
<!--<h2>{{title}}</h2>-->
<h3>Most current movies and tv shows</h3>

<a [routerLink]="['/movies']" class="nav-link">
  <div class="card" style="width: 18rem;">
  
        <img [src] = "'https://image.tmdb.org/t/p/w300'+movies.results[0].poster_path" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">{{movies.results[0].title}}</h5>
          <p class="card-text">Release date: {{movies.results[0].release_date}}</p>
          <p class="card-text">{{movies.results[0].overview}}</p>
        </div>
      </div>
    </a>
   <h3 id ="maintitle">Current movies</h3> 
   <h3>Current tv shows</h3>
   
      <a [routerLink]="['/tv']" class="nav-link" id="second">
        <div class="card" style="width: 18rem;">
            <img [src] = "'https://image.tmdb.org/t/p/w300'+ shows.results[0].poster_path" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">{{shows.results[0].name}}</h5>
              <p class="card-text">Air date: {{shows.results[0].first_air_date}}</p>
              <p class="card-text">{{shows.results[0].overview}}</p>
              
            </div>
          </div></a>

         