
<h1>The Big Movie</h1>
<!--<h2>{{title}}</h2>-->

<a [routerLink]="['/movies']" class="nav-link">
  <div class="card" style="width: 18rem;">
  
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Card titles</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </a>

      <a [routerLink]="['/tv']" class="nav-link"><div class="card" style="width: 18rem;">
            <img src="" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
            </div>
          </div></a>