/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";


body{
    background-color: #cccccc;
}

h1 {
    font-size: 5em;
    text-align: center;
}

div.card {
    margin-left: 250px;
    margin-top: 50px;
    float: left;
}