

<h1>Tv shows</h1>

<div class="card" style="width: 18rem;">
  
    <img [src] = "'https://image.tmdb.org/t/p/w300'+ shows.results[0].poster_path" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">{{shows.results[0].name}}</h5>
      <p class="card-text">Air date: {{shows.results[0].first_air_date}}</p>
      <p class="card-text">{{shows.results[0].overview}}</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
  
    <img [src] = "'https://image.tmdb.org/t/p/w300'+ shows.results[1].poster_path" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">{{shows.results[1].name}}</h5>
      <p class="card-text">Air date: {{shows.results[1].first_air_date}}</p>
      <p class="card-text">{{shows.results[1].overview}}</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
  
    <img [src] = "'https://image.tmdb.org/t/p/w300'+shows.results[2].poster_path" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">{{shows.results[2].name}}</h5>
      <p class="card-text">Air date: {{shows.results[2].first_air_date}}</p>
      <p class="card-text">{{shows.results[2].overview}}</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
  
    <img [src] = "'https://image.tmdb.org/t/p/w300'+shows.results[3].poster_path" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">{{shows.results[3].name}}</h5>
      <p class="card-text">Air date: {{shows.results[3].first_air_date}}</p>
      <p class="card-text">{{shows.results[3].overview}}</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
  
    <img [src] = "'https://image.tmdb.org/t/p/w300'+ shows.results[4].poster_path" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">{{shows.results[4].name}}</h5>
      <p class="card-text">Air date: {{shows.results[4].first_air_date}}</p>
      <p class="card-text">{{shows.results[4].overview}}</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
  
    <img [src] = "'https://image.tmdb.org/t/p/w300'+shows.results[5].poster_path" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">{{shows.results[5].name}}</h5>
      <p class="card-text">Air date: {{shows.results[5].first_air_date}}</p>
      <p class="card-text">{{shows.results[5].overview}}</p>
    </div>
  </div>