

<h1>Movies</h1>
<!-- *ngFor="let movie of IMovies"-->




<div class="card" style="width: 18rem;" >
  
  <img [src] = "'https://image.tmdb.org/t/p/w300'+ movies.results[0].poster_path" class="card-img-top">
  <div class="card-body" >
    <h5 class="card-title">{{movies.results[0].title}}</h5>
    <p class="card-text">Release date: {{movies.results[0].release_date}}</p>
    <p class="card-text">{{movies.results[0].overview}}</p>
  </div>
</div>




<div class="card" style="width: 18rem;">
  
  <img [src] = "'https://image.tmdb.org/t/p/w300'+ movies.results[1].poster_path" class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">{{movies.results[1].title}}</h5>
    <p class="card-text">Release date: {{movies.results[1].release_date}}</p>
    <p class="card-text">{{movies.results[1].overview}}</p>
  </div>
</div>

  <div class="card" style="width: 18rem;" >
  
    <img [src] = "'https://image.tmdb.org/t/p/w300'+ movies.results[2].poster_path" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">{{movies.results[2].title}}</h5>
      <p class="card-text">Release date: {{movies.results[2].release_date}}</p>
      <p class="card-text">{{movies.results[2].overview}}</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;" >
  
    <img [src] = "'https://image.tmdb.org/t/p/w300'+movies.results[3].poster_path" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">{{movies.results[3].title}}</h5>
      <p class="card-text">Release date: {{movies.results[3].release_date}}</p>
      <p class="card-text">{{movies.results[3].overview}}</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;" >
  
    <img [src] = "'https://image.tmdb.org/t/p/w300'+ movies.results[4].poster_path" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">{{movies.results[4].title}}</h5>
      <p class="card-text">Release date: {{movies.results[4].release_date}}</p>
      <p class="card-text">{{movies.results[4].overview}}</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;" id ="crazy">
  
    <img [src] = "'https://image.tmdb.org/t/p/w300'+ movies.results[5].poster_path" class="card-img-top" >
    <div class="card-body">
      <h5 class="card-title">{{movies.results[5].title}}</h5>
      <p class="card-text">Release date: {{movies.results[5].release_date}}</p>
      <p class="card-text">{{movies.results[5].overview}}</p>
    </div>
  </div>
  

